<h1>New entity:</h1>

<%=form_for @entity do |form|%>
  <table>
    <tr>
      <th><%=form.label :name-%></th>
      <td><%=form.text_field :name-%></td>
    </tr>
    <tr>
      <td colspan="2"><%=form.submit-%></td>
    </tr>
  </table>
  <p>Or <%=link_to 'return to the list', entities_path%>.</p>
<%end-%>

